* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

body {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #1F2937;

}

header {
    padding: 2em 0;
    color: #fff;
    background-color: #3A69D2;
}
section {
    padding: 1em 0 2em;
    color: #fff;
    background-color: #1F2937;
}

h1 {
    font-size: 2rem;
}


.btn-container {
    display: flex;
    column-gap: 1rem;
}

.btn-container > * {
    flex-grow: 1;
    flex-basis: 30%;
    padding-top: .8em;
    padding-bottom: .8em;
    background: #D1D4F4;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    color: #4A4E74;
}

.btn-container > *:hover {
    cursor: pointer;
}


article > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentDisplay {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    justify-content: center;
}

.content > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.total > * {
    margin-top: .8rem;
    margin-bottom: .8rem;
}

img {
    width: 16px;
    height: 14px;
    max-width: 100%;
}

.send-btn {
    width: 100%;
    padding-top: .8em;
    padding-bottom: .8em;
    display: flex;
    column-gap: .8rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #3A69D2;
    margin-top: 2rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    border: none;
}

.totalInfo small {
    text-align: left;
}

hr {
    border: 1px solid #C3C6DB;
}